<% provide(:title, 'Login') %>
<div class="center jumbotron">
<h1>Log in</h1>
<form>
  Email<br>
  <input type="text" name="Email"><br>
  Password<br>
  <input type="text" name="Password"><br>
</form>
<button type="button">Log in</button><br>
<p>New user? <a href="https://rails-tutorial-poorin.c9users.io/#">Sign up now!</a></p>

